services:
  db:
    image: postgres:17
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    container_name: projeto-3-db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: projeto-3-db
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
    depends_on:
      db:
        condition: service_started
    restart: unless-stopped
    container_name: projeto-3-app

volumes:
  db-data:
