services:
  db:
    image: postgres:17
    env_file:
      - ./.env
    ports:
      - "5444:5444"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    container_name: projeto-3-db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
    depends_on:
      - db
    restart: unless-stopped
    container_name: projeto-3-app

volumes:
  db-data:
